<%- include('partials/Header') %>
<!-- navabr start -->
<%- include('partials/Navbar') %>
<!-- navabr end  -->

<section class="flex justify-center items-center flex-col mt-20 mb-10">
    <% lead.documents_required.forEach(function(item, index) { %>
        <% if (attachments !== '') { %>
         <% if (attachments[index].file == item) { %>
            <div class="bg-green-500 w-3/5 rounded-lg px-10 py-8 my-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <form action="/portal/dashboard/documents/action" method="POST" enctype="multipart/form-data" class="flex justify-between items-center">
                    <div class="text-xl font-bold text-white">
                        <%= item %>
                        <input type="hidden" name="document_type" value="<%= item %>">
                        <input type="hidden" name="lead_id" value="<%= lead._id %>">
                    </div>
                    <div>
                        <a href="http://localhost:8000/uploads/<%= attachments[index].file_name %>" target="_blank">
                            <i class='bx bxs-file-doc text-2xl text-white'></i>
                        </a>
                    </div>
                </form>
            </div>
         <% } else { %>
            <div class="bg-white w-3/5 rounded-lg px-10 py-8 my-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <form action="/portal/dashboard/documents/action" method="POST" enctype="multipart/form-data" class="flex justify-between items-center">
                    <div class="text-xl font-bold">
                        <%= item %>
                        <input type="hidden" name="document_type" value="<%= item %>">
                        <input type="hidden" name="lead_id" value="<%= lead._id %>">
                    </div>
                    <div>
                        <input type="file" name="image" id="">
                        <button type="submit">
                            <i class='bx bx-upload cursor-pointer text-2xl'></i>
                        </button>
                    </div>
                </form>
            </div>
            <% } %>
        <% } else { %>
            <div class="bg-white w-3/5 rounded-lg px-10 py-8 my-5" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <form action="/portal/dashboard/documents/action" method="POST" enctype="multipart/form-data" class="flex justify-between items-center">
                    <div class="text-xl font-bold">
                        <%= item %>
                        <input type="hidden" name="document_type" value="<%= item %>">
                        <input type="hidden" name="lead_id" value="<%= lead._id %>">
                    </div>
                    <div>
                        <input type="file" name="image" id="">
                        <button type="submit">
                            <i class='bx bx-upload cursor-pointer text-2xl'></i>
                        </button>
                    </div>
                </form>
            </div>
            <% } %>
      
     <% }); %> 
</section>

<%- include('partials/Footer') %>